body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.head-span{
    color: coral;
}
h1{
    font-size: 50px;
}
.flex-con{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.btn{
    background-image:linear-gradient(orange, tomato);
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.sing-ex{
    box-shadow: 10px 10px 40px grey;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    border-radius: 5px;
}
.sing-ex h1{
    font-size: 40px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#gra{
    border-left:8px solid;
    border-image: linear-gradient(blue , cyan);
    border-image-slice: 1;
}
#org{
    border-left: 8px solid lightsalmon;
}
.foot-p{
    text-align: center;
    font-weight: 500;
}